@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tag {
    @apply border border-secondary text-sm px-2 py-0.5 rounded capitalize text-gray-600 dark:text-gray-300 focusRing;
  }

  .tag.active {
    @apply text-gray-100 bg-blue-500 border-none;
  }
  .focusRing {
    @apply focus:ring-4 focus:outline-none focus:ring-blue-300;
  }
  .MarkdownPreview li {
    @apply relative before:content-["●"] before:absolute before:-left-5 before:-top-0.5;
  }

  input,
  textarea,
  select {
    @apply transition border border-gray-200 rounded-sm focus:outline-none ring-blue-300/60 focus:ring-4;
  }
}

@keyframes slideIn {
  0% {
    transform-origin: bottom;
    transform: translateY(-10px) scaleY(1);
    opacity: 0;
  }
  50% {
    transform-origin: bottom;
    transform: translateY(10px) scaleY(0.8);
    opacity: 1;
  }
  100% {
    transform-origin: bottom;
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
}

.tagSlideInAnimation {
  animation-name: slideIn;
  animation-duration: 0.2s;
  /* animation-delay: specify delay here ; */
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
